@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin:0;
    padding: 0;
    border: none; 
 }
 
 body {
     font-family: Poppins, sans-serif;
     font-weight: 200;
     color: #334a52;
 }

 #header{
    font-family: Jost, sans-serif;
    font-weight: 400;
    
 }

 #header a{
    text-decoration :none;
    color: #87aecb;
 }
 
 #logo{
    margin: 30px;
    float: left;
    font-size: 150%;
 }

#homepage-headers{
    margin: 30px;
    font-size: 150%;
    list-style: none;
    line-height: 50px;
    float: right;
    margin-right: 60px;
    word-spacing: 20px;

}

#homepage-headers li{
    display: inline-block;
}

#mindful-yogi-explanation{
   float: left;
   text-align: center;
   padding: 100px;
   background-image: url('../assets/images/clouds_pexels.jpg') no-repeat;
   /* NEED TO CHECK WHY NOT WORKING */
}

#meditation-and-yoga {
    position: static ;
    padding: 400px;
    text-align: center;
}
